name: Build
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
      - develop
      - hotfix/*
env:
    BuildProject: "build/Build.csproj"
    BuildArgs: "--target=Github-Actions --testArg=testVal"
    BuildVersion: "default"

jobs:
  build:
    name: Build-Job
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest]
        #, ubuntu-latest, macos-latest]
    steps:
      - name: Get the sources
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      # - name: find files
      #   shell: pwsh
      #   run: |
      #       $packageFile = dir -Path "artifacts" -Filter *task*.* 
      #       Write-Output $packageFile
      #       Write-Outout "first- " + $packageFile.First

      - name: set output
        shell: pwsh
        run: |
            Write-Output "original BuildVersion = " $env:BuildVersion 
            $env:BuildVersion = "1.2.3" #Out-File -FilePath $Env:GITHUB_ENV -Encoding utf8 -Append
            Write-Output "new BuildVersion = " $env:BuildVersion 
            

      # - name: Install .NET SDK
      #   uses: actions/setup-dotnet@v4
      #   with:
      #     global-json-file: global.json

      # - name: Create Cake Boostrapper script
      #   run: |
      #     echo 'DotNetRun("${{ env.BuildProject }}", "${{ env.BuildArgs }}");' > build.cake

      # - name: Run Cake script
      #   uses: cake-build/cake-action@v2
      #   with:
      #     cake-version: 4.0.0
      #     target: "Github-Actions"
      #     # arguments: |
      #     #       name: value
      #     #       arg1: arg1val
